@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  touch-action: manipulation;
}

.fade-enter-active, .fade-leave-active {
transition: opacity .2s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

h1, h2, h3, h4, h5, p {
  font-family: 'Press Start 2P', cursive;
}